@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}
  
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
  
html::-webkit-scrollbar {
    width: 1rem;
}
  
html::-webkit-scrollbar-track {
    background: #fff;
  }
  
html::-webkit-scrollbar-thumb {
    background: #10221b;
  }
  
section {
    padding: 5rem 9%;
  }


.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
   
  
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}
  
.btn:hover {
    background: #10221b;
    color: #fff;
}
  
.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.header.active {
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
  
.header .logo {
    text-decoration: none;
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b;
    font-weight: bolder;
}
  
.header .logo i {
    color: #219150;
}
  
.header .navbar a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;
}
  
.header .navbar a:hover {
    color: #219150;
}
  
.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}
  
.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
}
  
.header .icons a:hover,
.header .icons div:hover {
    color: #219150;
}
  
.header #menu-btn {
    display: none;
}
  
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
}
  
.search-form.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
  
.search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 6rem;
}
  
.search-form #close-search:hover {
    color: #219150;
}
  
.search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
}
  
.search-form form input::-webkit-input-placeholder {
    color: #aaa;
}
  
.search-form form input:-ms-input-placeholder {
    color: #aaa;
}
  
.search-form form input::-ms-input-placeholder {
    color: #aaa;
}
  
.search-form form input::placeholder {
    color: #aaa;
}
  
.search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}
  
.search-form form label:hover {
    color: #219150;
}
  

/* ----------------------------------------------------------------    header css ends ---------     */


/* ---------------------banner css */

.banner-area {
    height: 60vh;
    width: 100%;
    background: linear-gradient( #1c1a2521, #000000ab),url(../images/blogbanner.jpg) no-repeat;
    /* background-color: #eee; */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
}

/* ---------------------banner css ends ---------------------*/





/* --------------------------blog css start---------------------------- */

.light {
    background: #f3f5f7;
    font-size: 15px;
  }
  
  a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  #pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
  }
  
  /* Cards */
  .postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
  }
  /* .postcard.dark {
    background-color: #18151f;
  } */
  .postcard.light {
    background-color: #e1e5ea;
  }
  .postcard .t-dark {
    color: #18151f;
  }
  .postcard a {
    color: inherit;
  }
  .postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .postcard .small {
    font-size: 80%;
  }
  .postcard .postcard__title {
    font-size: 1.75rem;
  }
  .postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .postcard .postcard__img_link {
    display: contents;
  }
  .postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }
  .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }
  .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
  }
  .postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
  }
  .postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
  }
  .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  .postcard:hover .postcard__bar {
    width: 100px;
  }
  
  @media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
    }
    .postcard .postcard__title {
      font-size: 2rem;
    }
    .postcard .postcard__tagbox {
      justify-content: start;
    }
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    .postcard:hover .postcard__img {
      transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
      flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
  @media screen and (min-width: 1024px) {
    .postcard__text {
      padding: 2rem 3.5rem;
    }
  
    .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 45px;
    }
  
    /* .postcard.dark .postcard__text:before {
      background: #18151f;
    } */
  
    .postcard.light .postcard__text:before {
      background: #e1e5ea;
    }
  }
  /* COLORS */
  .postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
  }
  
  .green .postcard__title:hover {
    color: #79dd09;
  }
  
  .green .postcard__bar {
    background-color: #79dd09;
  }
  
  .green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
  }
  
  .blue .postcard__title:hover {
    color: #0076bd;
  }
  
  .blue .postcard__bar {
    background-color: #0076bd;
  }
  
  .blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
  }
  
  .red .postcard__title:hover {
    color: #bd150b;
  }
  
  .red .postcard__bar {
    background-color: #bd150b;
  }
  
  .red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  
  .red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
  }
  
  .yellow .postcard__title:hover {
    color: #bdbb49;
  }
  
  .yellow .postcard__bar {
    background-color: #bdbb49;
  }
  
  .yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  
  @media screen and (min-width: 769px) {
    .green::before {
      background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
  
    .green:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
  
    .blue::before {
      background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
  
    .blue:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
  
    .red::before {
      background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
  
    .red:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
  
    .yellow::before {
      background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
  
    .yellow:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
  }
























































































































/* ------------------scroller to top css------------------------------------ */


.to-top {
    background: rgb(22, 21, 25);
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    /* color:#1f1f1f; */
    color: #fff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    cursor: pointer;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
  

























  

@media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
}


@media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 7rem;
    }
}



@media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: #fff;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
    }
    .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
    .to-top {
        font-size:20px;
        width:40px;
        height:40px;
    }  
    .row {
        width: 325px;
        margin: auto;
    }
  }

   
  
@media (max-width: 450px) {
    html {
      font-size: 50%;
    }
}
