@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
  
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
  
html::-webkit-scrollbar {
    width: 1rem;
}
  
html::-webkit-scrollbar-track {
    background: #fff;
  }
  
html::-webkit-scrollbar-thumb {
    background: #10221b;
  }
  
section {
    padding: 5rem 9%;
  }


.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
   
  
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}
  
.btn:hover {
    background: #10221b;
    color: #fff;
}
  
.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.header.active {
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
  
.header .logo {
    text-decoration: none;
    margin-right: auto;
    font-size: 2.5rem;
    color: #10221b;
    font-weight: bolder;
}
  
.header .logo i {
    color: #219150;
}
  
.header .navbar a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;
}
  
.header .navbar a:hover {
    color: #219150;
}
  
.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}
  
.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
}
  
.header .icons a:hover,
.header .icons div:hover {
    color: #219150;
}
  
.header #menu-btn {
    display: none;
}
  
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
}
  
.search-form.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
  
.search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 6rem;
}
  
.search-form #close-search:hover {
    color: #219150;
}
  
.search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
}
  
.search-form form input::-webkit-input-placeholder {
    color: #aaa;
}
  
.search-form form input:-ms-input-placeholder {
    color: #aaa;
}
  
.search-form form input::-ms-input-placeholder {
    color: #aaa;
}
  
.search-form form input::placeholder {
    color: #aaa;
}
  
.search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}
  
.search-form form label:hover {
    color: #219150;
}
  

/* ----------------------------------------------------------------    header css ends ---------     */


.box {
    height: 10000px;
}











































/* ------------------scroller to top css------------------------------------ */


.to-top {
    background: rgb(22, 21, 25);
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    /* color:#1f1f1f; */
    color: #fff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    cursor: pointer;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
  
  
  
  












@media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
}





@media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 7rem;
    }
}


@media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: #fff;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
    }
    .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
    .to-top {
        font-size:20px;
        width:40px;
        height:40px;
    }  
     
  }





@media (max-width: 450px) {
    html {
      font-size: 50%;
    }
}